*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500px;
    width: 100%;
    /* background-color: #4a8698; */
}


/*-------------Navbar Section-------------*/

.nav-link:hover{
  text-decoration-line : underline;
  text-decoration-color: #74d0ed;
  text-decoration-thickness: 3px;

  /* border-bottom: 2px solid white; */
}

.navbar {
    padding-top: .0rem;
    border: 2px solid #74d0ed;
    padding-bottom: .0rem;
}

.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem;
}


.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: #74d0ed;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .0rem 0;
    margin: 0;
    font-size: 1rem;
    color: #000000;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.container-fluid {
    background-color: black;
    color: white;
}

.navbar-toggler-icon{
    color: #74d0ed;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 55%);
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255 / 70%);
}


.nav-item-dropdown {
    padding: 5px 5px;
    margin: 0;
    padding: 0;
    background-color:#74d0ed ;
}

.nav-item-dropdown-text {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    /* text-transform: capitalize; */
}

.navbar-nav {
    margin-left: auto;
}

.nav-item-dropdown-text > p {
    letter-spacing: 0.25rem;
}

.nav-item-dropdown-buttons {  
    border: black 2px solid;
    display: grid;
    grid-template-columns: 50% 50%;
}


.nav-item-dropdown-buttons a {
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 3rem;
}

.dropdown-menu {
    min-width: 18rem;
}

.nav-item-dropdown-buttons > #studentbutton{
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
}

.nav-item-dropdown-buttons > #teacherbutton{
    border: none;
    outline: none;
    background-color: #74d0ed;
}
.nav-item-dropdown-buttons > #teacherbutton a{
   color: #000000;
}
/*-----------------NavBar section------------------*/



/* --------------------Main Page Section ------------ */

.welcome-text {
    width: 700px;
    height: 300px;
    margin: 15% auto;
    text-align: center;
}

.welcome-text h1 {
    text-align: center;
    color: #74d0ed;
    /* text-transform: uppercase; */
    font-size: 55px;
}

.welcome-text h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    /* text-transform: uppercase; */
    font-size: 55px;
}

.register-box-buttons > .studentbutton {
    background-color: #000000;
    color: white;
}

.register-box {
  width: auto;
  margin: 0 auto;
  border: 2px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}


.register-box-buttons > .studentbutton:hover{
    background-color: #74d0ed;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
}



.register-box-buttons > .teacherbutton {
    background-color: #74d0ed;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}


.register-box-buttons > .teacherbutton:hover {
    background-color: #000000;
    color:#74d0ed;
}


.welcome-text a { 
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

/*----------------End of Main Page Section--------------  */

.btn-primary {
  color: white;
  background-color: #000;
  font-weight: bold;
}

.form-control{
  border: 1px solid #000;
}


.form-control:focus {
  border-color: #000000;
}

.btn-primary:hover {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  background-color: #74d0ed;
}






/*---------------------------------------
     FOOTER SECTION              
  -----------------------------------------*/

  footer {
    background: #000000;
    padding: 120px 0;
  }

  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer a,
  footer p {
    color: #74d0ed;
  }

  footer strong {
    color: #d9d9d9;
  }

  footer address p {
    margin-bottom: 0;
  }

  footer .social-icon {
    margin-top: 25px;
  }

  .footer-info {
    margin-right: 2em;
  }

  .footer-info h2 {
    color: #ffffff;
    padding: 0;
  }

  .footer_menu h2 {
    margin-top: 2em;
  }

  .footer_menu ul {
    margin: 0;
    padding: 0;
  }

  .footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }

  .newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
  }

  .newsletter-form input[type="submit"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
  }

  .newsletter-form input[type="submit"]:hover {
    background: #29a5ca;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(41, 165, 202);
    border-color: transparent;
}

  .newsletter-form .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #74d0ed;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #74d0ed;
    color: #ffffff;
  }



/* --------------------End of Footer Section ------------ */


  @media only screen and (max-width: 992px) {
    footer {
      padding: 60px 0;
    }

    .welcome-text{
        padding: 60px 0;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .welcome-text h1, .welcome-text h3{
      font-size: 30px;
    }

    .footer-info {
      margin-bottom: 50px;
    }

  }

  @media only screen and (max-width: 767px) {
    .footer-info {
        margin-right: 0;
    }

    .footer-info.newsletter-form {
        margin-bottom: 0;
    }

    .welcome-text {
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .welcome-text h1, .welcome-text h3{
      font-size: 20px;
    }
  }

  
  .form-box {
    border: 1px solid #000000;
    background-color: #74d0ed;
    margin-bottom: 60px;
    /* width: 37.5%; */
    position: relative;
    top: 5%;
    left: 28%;
    padding: 15px 15px;
  }

  .form-box .form-box-header {
    text-align: center;
  }

  /* .form-control{
    width: 100%;

  } */


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-box {
    width: 85%;
    left: 1%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .form-box {
    width: 85%;
    left: 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
  .form-box {
    width: 85%;
    left: 1%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-box {
    width: 37.5%;
    left: 28%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form-box {
    width: 37.5%;
    left: 28%;
  }
}


input {
  width: 100%;
}

