{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        header {
            background-repeat: no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            {% comment %} background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url('{% static "../../static/images/back4.jpg" %}');  {% endcomment %}
            -webkit-background-size: cover;
            height: 100vh;
        }
    </style>
        <header>
            <div class="welcome-text">
                <h1>Welcome to Teach-Earn</h1>
                <div class="register-box">
                    <h4>Don't have an account, register as</h4>
                    <div class="register-box-buttons">
                        <a href="{% url 'student_register' %}" class="studentbutton">Student</a>
                        <a href="{% url 'teacher_register' %}" class="teacherbutton">Teacher</a>
                    </div>
                </div>
            </div>
        </header>
  

        <hr>
    
    <main class="main-content">           
        <!-- Start about us -->
        <section id="mu-about-us">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                <div class="mu-about-us-area">           
                    <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="mu-about-us-left">
                        <!-- Start Title -->
                        <div class="mu-title">
                            <h2>About Us</h2>              
                        </div>
                        <!-- End Title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga eveniet soluta aspernatur rem, nam voluptatibus voluptate voluptates sapiente, inventore. Voluptatem, maiores esse molestiae.</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            <li>Saepe a minima quod iste libero rerum dicta!</li>
                            <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                            <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                            <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis excepturi et? Mollitia!</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="mu-about-us-right">                            
                        <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">
                        <img src="{% static 'images/back7.jpg ' %}" alt="img">
                        </a>                
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End about us -->


          <!-- Start about us counter -->
        <section id="mu-abtus-counter">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                <div class="mu-abtus-counter-area">
                    <div class="row">
                    <!-- Start counter item -->
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-abtus-counter-single">
                        <span class="fa fa-book"></span>
                        <h4 class="counter">400</h4>
                        <p>Subjects</p>
                        </div>
                    </div>
                    <!-- End counter item -->
                    <!-- Start counter item -->
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-abtus-counter-single">
                        <span class="fa fa-users"></span>
                        <h4 class="counter">340</h4>
                        <p>Students</p>
                        </div>
                    </div>
                    <!-- End counter item -->
                    <!-- Start counter item -->
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-abtus-counter-single">
                        <span class="fa fa-flask"></span>
                        <h4 class="counter">10</h4>
                        <p>Modern Lab</p>
                        </div>
                    </div>
                    <!-- End counter item -->
                    <!-- Start counter item -->
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-abtus-counter-single no-border">
                        <span class="fa fa-user-secret"></span>
                        <h4 class="counter">100</h4>
                        <p>Teachers</p>
                        </div>
                    </div>
                    <!-- End counter item -->
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
  <!-- End about us counter -->
            
             <hr>
             
        <!-- Start features section -->
        <section id="mu-features">
            <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                    <h2>Our Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-4  col-sm-6">
                        <div class="mu-single-feature">
                            <span class="fa fa-book"></span>
                            <h4>Professional Courses</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                            <span class="fa fa-users"></span>
                            <h4>Expert Teachers</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                            <span class="fa fa-laptop"></span>
                            <h4>Online Learning</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                            <span class="fa fa-microphone"></span>
                            <h4>Audio Lessons</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                            <span class="fa fa-film"></span>
                            <h4>Video Lessons</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                            <span class="fa fa-certificate"></span>
                            <h4>Professional Certificate</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- End features content -->
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End features section -->
        </main>
{% endblock  %}

     
