{% extends 'base_teacher.html' %}
{% block title %}My Profile Page{% endblock  %}
{% block content %}
    {% block body %}
        <div class="profile_page text-center">
            <div>
                <img src="{{my_profile.profile_img.url}}" alt="" style="border: 2px solid black; border-radius: 50%; width: 150;">
            </div>
            <form enctype="multipart/form-data" method="post" class="form">
            {% csrf_token %}
                <input type="file" name="user_img" class="file_class">
                <div>
                    <button type="submit" class="btn-primary">submit</button>
                </div>
            </form>
        <div>
        <div class="profile_page text-center">
            <div class="profile-details">
                <p>Username: {{user.username}}</p>
                <p>Telephone: {{user.phone_number}}</p>
                <p>Email Address: {{user.email}}</p>
            </div>
            <a href="{% url 'teachers' %}"><button class="btn-primary">Edit Profile</button></a> 
        </div>
    {% endblock  %}
{% endblock  %}