{% extends 'base_teacher.html' %}
{% load static %}

{% block content %}
    <div class="profile_page text-center">
        <div class="profile-info">
            <h1>My Profile</h1>
            <img src="#" class="img-circle" width="304" height="236">
        </div>
        <div class="profile-details">
            <p>Username: {{user.username}}</p>
            <p>Telephone: {{user.phone_number}}</p>
            <p>Email Address: {{user.email}}</p>
        </div>
        <a href=""><button class="btn-primary">Edit Profile</button></a> 
    </div>
{% endblock %}