{% extends 'base_teacher.html' %}
{% load static %}

{% block content %}
<div class="mt-5">
    <form method="POST" action="." class="form-box" enctype="multipart/form-data" >
     {% csrf_token %}
     <h1>Upload Course</h1>
        {{form.as_p}}
        <button class="btn btn-primary"> Upload New Video </button>
    </form>
</div>
<div class="container">
    <hr>
    {% for video in all %}
        <h3 style="color:black;" class="text-center mt-2 mb-2">{{video.caption}} </h3>
        <video width="700px"  height="auto" class="embed-responsive embed-responsive-16by9" controls="controls" >
            <source src="{{video.video.url}}" type="video/mp4" />
        </video>
    {% endfor %}
</div>
{% endblock content %}